{% extends "base.html" %}

{% block extra_js %}
  <script src="/assets/js/starrr.js"></script>
  <script src="/assets/js/app.js"></script>
{% endblock extra_js %}

{% block content %}
  
  <div class="page-header">
    <h1>{{hotel.name}} </h1>
    <small>{{hotel.address1}}</small>, <small>{{hotel.address2}}</small>
    <br>
    <small>{{hotel.contact_nos}}</small>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <ul class="list-group">

          <li href="#" class="list-group-item active">
            Ratings:
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            <div class="hotel-rating" data-rating=5></div>
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            <div class="hotel-rating" data-rating=4></div>
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            <div class="hotel-rating" data-rating=3></div>
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            <div class="hotel-rating" data-rating=2></div>
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            <div class="hotel-rating" data-rating=1></div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div id="greetings">
    <form action="/hotel/{{hotel.name|slugify}}/sign" method="post" id="guestbookForm">
      <div class="starr" data-rating=0></div>
      <div>
        <textarea id="id_content" class="input-block-level" rows="3"></textarea>
        <input type='hidden' id="id_rating">
      </div>

      <div><input id="submitGuestbook" type="button" class="btn btn-large btn-primary" value="Sign Guestbook"></div>
    </form>

    <br>
    <hr>


    {% for greeting in greetings %}
      <div class="row greet">
        {% if greeting.author %}
          <b><a href="/user/{{greeting.author}}/comments">{{greeting.author.email()}}</a></b> wrote:
        {% else %}
         An anonymous person wrote:
        {% endif %}
        {% if greeting.author == user%}
          <a href="#{{greeting.key.id()}}" class="update" data-pk="{{greeting.key.id()}}"><span class="glyphicon glyphicon-pencil"></span> Update</a>
        {%endif%}
        <div class="greeting">
          <div class='rating-readonly' data-rating={{greeting.rating}}></div>
          <blockquote class="greeting-content">{{ greeting.content }}</blockquote>
        </div>
      </div>
    {% endfor %}
  </div>

  <script type="text/javascript">

    $(document).on('click', '.update', function(ev){

      ev.stopPropagation();
      $('#id_content').val('');
      $('.greet').next().find('a.cancel').click();

      $(this).removeClass('update').addClass('cancel').html(
        "<span class='glyphicon glyphicon-remove'></span> Cancel"
      );
      var el = $(this);
      var target = $(this).next();
      var rating = target.find('.rating-readonly').data('rating');

      if(rating == undefined){
        rating = 0;
      }

      target.html(
        "<form id='testForm' action='/sign' method='post'>" +
        "<div class='starlet'></div>" +
        "<textarea id='content' class='input-block-level inline' rows='3'>" +
        target.find('.greeting-content').html() + 
        "</textarea>" +
        "<input id='id' type='hidden' value='" + el.data('pk') + "' />" +
        "<input id='rating' type='hidden' data-prev-rating="+ rating+" value='" + rating + "' /><br>" +
        "<button type='button' id='update-submit' class='btn btn-primary btn-xs'>Save</button><br><br>" +
        "</form>"
      );

      target.find('.starlet').starrr({
        rating: rating,
        change: function(e, value){
          target.find('#rating').val(value);
        }
      });     

    });

    $(document).on('click','#update-submit', function(ev){
      var el = $(this);
      var form = $(this).closest("form");

      if($.trim(form.find('textarea').val()).length > 1){
        $.ajax({
          type: form.attr('method'),
          url: form.attr('action'),
          data: { 
            "content": form.find('textarea').val(), 
            "rating":form.find('#rating').val(),
            'id': form.find('input').val()
          },
          dataType:'json',
          success: function (data) {
            var target = el.parent().parent();
            target.html(
              '<div class="rating-readonly" data-rating="' + data['rating'] + '"></div>' + 
              '<blockquote class="greeting-content">' + data['content'] + '</blockquote>' 
            );

            target.find('.rating-readonly').starrr({
              readonly:true,
              rating:data['rating']
            });
          },
          complete: function(){
            $('.greet').find('a.cancel').click();
          }
        });
      }

    });

    $(document).on('click', '.cancel', function(ev){
      
      ev.stopPropagation();
      $(this).removeClass('cancel').addClass('update').html(
        "<span class='glyphicon glyphicon-pencil'></span> Update"
      );
      var el = $(this);
      var target = el.next().find('#testForm');
      var rating = target.find('#rating').data('prev-rating');

      target.html(
        '<div class="rating-readonly" data-rating="' + rating + '"></div>' + 
        '<blockquote class="greeting-content">' + target.find('textarea').html() + '</blockquote>' 
      );

      target.find('.rating-readonly').starrr({
          readonly:true,
          rating:rating
        });
    });

    $(document).on('keypress', 'textarea.inline', function(ev){
      var key = ev.which;
      var el = $(this);

      if(key == 13){
        var form = $(this).closest("form");

        if($.trim(form.find('textarea').val()).length > 1){
          $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: { 
              "content": form.find('textarea').val(), 
              "rating":form.find('#rating').val(),
              'id': form.find('input').val()
            },
            dataType:'json',
            success: function (data) {
              el.parent().parent().html(
                '<blockquote class="greeting-content">' + data['content'] + '</blockquote>' 
              );
            },
            complete: function(){
              $('.greet').find('a.cancel').click();
            }
          });
        }
      }
    });


    $("#guestbookForm").submit(function(ev){
      ev.preventDefault();

      var content = $('#id_content');
      var rating = $('#id_rating');

      if($.trim(content.val()).length > 1){
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: { "content": content.val(), 'rating': rating.val()},
          dataType:'json',
          success: function (data) {

            if(data['author'] == null){
              $('div.greet').before(
                '<div class="row greet">' +
                'An anonymous person wrote:' +
                '  <div class="rating-readonly" data-rating="' + data['rating'] + '"></div>' + 
                '  <blockquote class="greeting-content">' + data['content'] + '</blockquote>' +
                '</div>'
              );

            }else {
              $('div.greet').before(
                '<div class="row greet">' +
                '  <b><a href="/user/' + data['author'] +'/comments">' + data['author'] + '</a></b> wrote:' +
                '  <a href="#'+ data['id'] +'" class="update" data-pk="' + data['id'] + '">' + 
                '  <span class="glyphicon glyphicon-pencil"></span> Update</a>' +
                '  <div class="greeting"> ' +
                '  <div class="rating-readonly" data-rating="' + data['rating'] + '"></div>' + 
                '  <blockquote class="greeting-content">' + data['content'] + '</blockquote>' +
                '  </div>' +
                '</div>'
              ); 
            }

            var el = $('div.greet').first();
            
            el.find('.rating-readonly').starrr({readonly:true});
            $('#id_content').val('');
            $('#id_rating').val(0);

            resetStarrr($('.starr'));

          }
        });  
      }
    });

    $(".starr").starrr();

    $('.starr').on('starrr:change', function(e, value){
      $('#id_rating').val(value);
    });

    $(".rating-readonly").starrr(
      {readonly:true}
    );

    $(".hotel-rating").starrr(
      {readonly:true}
    );

    $('#submitGuestbook').click(function(){
      $('#guestbookForm').submit();
    });

  </script>
{% endblock %}